:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.screen {
  border: 8px solid rgb(233, 233, 233);
  border-radius: 8px;
  margin: 11px;
}

.container {
  width: 80%;
  height: auto;
  margin: auto;
  border: 2px solid black;
}

.seats {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.seats button {
  width: 3em;
  height: 3em;
  border: none;
  border-radius: 4px;
  margin: 0 .3em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor:pointer;
}

.btn-parent {
  margin-left: 2em;
}

.price-indicator {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 1em;
}

.price-color {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.book-btn {
  display: flex;
  justify-content: center;
  margin: 14px;
}

.book-seat {
  background: rgb(41, 249, 41);
  color: white;
  border-radius: 4px;
  width: 90%;
  border: none;
  font-size: 20px;
  padding: 8px;
  cursor:pointer;
}
